<configuration>
  <packageSources>
    <!-- Fuente pública. -->
	<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
	
    <!-- Fuente privada. -->
    <!-- <add key="gitlab" value="http://nuget.pkg.github.com/boraolim/index.json" allowInsecureConnections="true" /> -->
  </packageSources>
  <packageSourceCredentials>
    <gitlab>
      <add key="Username" value="boraolim" />
      <add key="ClearTextPassword" value="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" />
    </gitlab>
  </packageSourceCredentials>
  <config>
    <!-- Permite HTTP sin bloquear por seguridad -->
    <add key="allowInsecurePackageSource" value="true" />

    <!-- Aumenta el timeout de red -->
    <add key="httpRequestTimeout" value="60" />

    <!-- Controla número de solicitudes simultáneas por fuente -->
    <add key="maxHttpRequestsPerSource" value="4" />

    <!-- Carpeta local donde NuGet guardará paquetes -->
    <add key="globalPackagesFolder" value=".nuget/packages" />
  </config>

  <!-- end -->
</configuration>
