<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- Fuente pública. -->
	<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
	
    <!-- Fuente privada. -->
    <add key="github" value="https://nuget.pkg.github.com/GITHUB_USER/index.json" allowInsecureConnections="true" />
  </packageSources>
  <packageSourceCredentials>
    <gitlab>
      <add key="Username" value="GITHUB_USER" />
      <add key="ClearTextPassword" value="TOKEN_MAIN" />
    </gitlab>
  </packageSourceCredentials>
  <!-- end -->
</configuration>
